*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 250px;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 60px;
    background-image: url(../assets/design1_image2.jpg);
    background-position: 0 650px;

}
#logo{
    position: absolute;
    width: 100px;
    top: 250px; right: 150px;
}
h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 400%;
}
nav{
    margin-left: 30px;
    margin-right: 30px;
}
a{
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: block;
    position: relative;
    width: 100px;
    height: 50px;
}
h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: block;
    color: ghostwhite;
    background-color: black;
    text-align: center;
}
div{
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    left: 170px;
    top: 380px;
}
#imagen3{
    width: 150px;
    position: absolute;
    right: 100px;
    bottom: 100px;
}
p{
    padding: 10px;
}
